<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Friend</h5>
      </div>
      <div class="modal-body">
        <label>
          Name
        </label>
        <input class="form-control" [(ngModel)]="Name" id="name" type="text">

        <label>
          Email
        </label>
        <input class="form-control" [(ngModel)]="Email" id="email" type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="addFriend()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
